/.idea/
/.installed.cfg
/.mr.developer.cfg
/.jupyter/
/.ipynb_checkpoints/
/bin/
/develop-eggs/
/parts/
/src/
/var/
/result
/bootstrap-buildout.py
/geckodriver.log
/log.html
/output.xml
/.plonetheme-upload-cookie
/report.html
/selenium-screenshot-*.png
/*.zip

.DS_Store
*.aux
*.egg-info
*.fdb_latexmk
*.fls
*.fs
*.fs.*
*.log
*.nav
*.out
*.pdf
*.pyc
*.snm
*.toc
*.vrb
/.idea/
/.ipynb_checkpoints/
/.jupyter/
/icons
_minted-*/
